<div id='mainDiv'>

  <div id="inputDiv">

    <!-- <div class="weekdays"> -->

      <table>
      <thead>
        <tbody>

        <tr>
            <th>S</th>
            <th>M</th>
            <th>T</th>
          </tr>
        </thead>
        <tbody>
      <tr>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>
        <td ng-include="'partials/sunday.html'"></td>

          </tr>
        </table>
      </tbody>

    <!-- </div> -->
