<input type='checkbox' id='sideToggle1' hidden>
<aside class='sideMenu left'>

  <center><img class="photo" src="photos/p1.png" align="middle"></center>

  <ul>

    <!-- <small><em>Object (changes type based on value)</em></small>
    <uib-progressbar class="progress-striped active" value="dynamic" type="{{type}}">{{type}} <i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>

    <h3>Stacked <button type="button" class="btn btn-sm btn-primary" ng-click="randomStacked()">Randomize</button></h3>
    <uib-progress><uib-bar ng-repeat="bar in stacked track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></uib-bar></uib-progress> -->

    <p class="userName">{{userName}}</p>
    <div ng-controller = "LoginController">
      <p class="date">{{ currentDate }}</p>
      <h3 class="smashStats">SMASH STATS</h3>
      <p class="smashes">{{ totalSmashes }} / {{ totalTasks }}</p>
    </div>
    <!-- <li class="menuLi"><a href='#' data-value='item 1'>item 1</a></li> -->

    <button class="logOut" ng-click="logout()">Log Out</button>

  </ul>

</aside>

<div id='contentWrap'>
    <label class='menuBtn' for='sideToggle1' ><i class="fa fa-user stack" aria-hidden="true"></i>
</label>
      <table>

        <thead>

          <tbody>

            <tr>

              <h1 class="tableHeader">PRO<strong>SMASH</strong></h1>

              <!-- <h1 class="secondHeader" ng-controller="dayController"><button type="button" name="button" ng-click="iterate()">Next Day</button></h1>
              <h1 class="secondHeader" ng-controller="mainController"><button type="button" name="button" ng-click="sundayCheckTask()">Check Tasks</button></h1> -->

              <th class="thBorder">S</th>
              <th class="thBorder">M</th>
              <th class="thBorder">T</th>
              <th class="thBorder">W</th>
              <th class="thBorder">T</th>
              <th class="thBorder">F</th>
              <th>S</th>

            </tr>

        </thead>

            <tr>

              <td ng-include="'partials/sunday.html'"></td>
              <td ng-include="'partials/monday.html'"></td>
              <td ng-include="'partials/tuesday.html'"></td>
              <td ng-include="'partials/wednesday.html'"></td>
              <td ng-include="'partials/thursday.html'"></td>
              <td ng-include="'partials/friday.html'"></td>
              <td ng-include="'partials/saturday.html'"></td>

            </tr>

        </table>

      </tbody>

</div>
