
<div modalDialog id="tasksDiv" ng-controller = "sundayAddController">

<span ng-style="myStyle"><input style="text-transform: uppercase" type="text" name="taskInput" id="taskInput" value="" placeholder="Enter Task" ng-model = "nameIn"></span><br>
<button type="button" name="submitTask" id="submitTask" ng-click="addSundayTask()">+</button>

<div id='outputDiv' class='outputDiv'>

  <ul class="unstyled centered">

      <li ng-repeat= "task in sundayTasks" class="control-inline" id="oneTask"> <span class="taskName">{{ task.task_name }}</span><br>

              <input class="styled-checkbox" type="checkbox" ng-model="insane" ng-click = "completeSundayTask(task.id)" id="smashButton" >

        <div class="jumbotron text-center">
          <h2 ng-class="{ 'text-danger': wrong, bubble: insane }">
            SMASH!
          </h2>
        </div>

    </div>
   </li>
  </ul>
</div>





<!--
<div modalDialog id="tasksDiv" ng-controller = "sundayAddController">

<span ng-style="myStyle"><input style="text-transform: uppercase" type="text" name="taskInput" id="taskInput" value="" placeholder="Enter Task" ng-model = "nameIn"></span><br>
<button type="button" name="submitTask" id="submitTask" ng-click="addSundayTask()">+</button>

<div id='outputDiv' class='outputDiv'>

  <ul>

      <li ng-repeat= "task in sundayTasks" class="oneTask" id="oneTask"> {{ task.task_name }}<br>

              <input type="checkbox" ng-model="insane" ng-click = "completeSundayTask(task.id)" id="smashButton">

        <div class="jumbotron text-center">
          <h2 ng-class="{ 'text-danger': wrong, bubble: insane }">
            SMASH!
          </h2>
        </div>

    </div>
   </li>
  </ul>
</div> -->
