<div id='mainDiv' style="background-color: blue">

    <div id="inputDiv" ng-controller = "sundayAddController">
      <span><input style="text-transform: uppercase" type="text" name="taskInput" id="taskInput" value="" placeholder="Enter a Task to Attack!" ng-model = "nameIn"></span><br>
      <button type="button" name="submitTask" id="submitTask" ng-click="addTask()">+</button>




      <ul>
        <li ng-repeat= "task in sundayTasks">{{ task.task_name }}</li>

      </ul>
    </div>

</div>
