
<div modalDialog id="tasksDiv" ng-controller = "mainController">
  <!-- Task Enter Field -->
  <span ng-style="myStyle"><input style="text-transform: uppercase" type="text" name="taskInput" id="taskInput" value="" placeholder="Enter Task" ng-model = "nameIn"></span><br>
  <!-- Add Task Button -->
    <button type="button" name="submitTask" id="submitTask" ng-click="addThursdayTask()">+</button>

      <div id='outputDiv'  class="outputDiv ng-style: newThursdayTask.thursday_total == 1 && {background:'#1A8BB2'}
      || newThursdayTask.thursday_total == 2 && {background:'#127899'}
      || newThursdayTask.thursday_total == 3 && {background:'#13647F'}
      || newThursdayTask.thursday_total == 4 && {background:'#0E5066'}
      || newThursdayTask.thursday_total == 5 && {background:'#0B3C4C'};">

    <!-- Begin UL List -->
        <ul class="unstyled centered">
          <!-- Begin LI List -->
          <div class="smash2">
                <div>
                    <li ng-repeat= "task in thursdayTasks" ng-class="{ 'text-danger': wrong, bubble: insane }"  class="control-inline liBorder" id="oneTask"> <span class="taskName"><p>{{ task.task_name }}</p></span><br>
                  <!-- Smash Button -->

                      <input class="styled-checkbox" type="checkbox" ng-model="insane" ng-click = "completeThursdayTask(task.id)" id="smashButton" >

                    <div class="smash">
                      <h4 ng-class="{ 'text-danger': wrong, bubble: insane }" >
                        SMASH!
                      </h4>
                    </div>
                </div>
            <!-- End List -->
            </li>
          <!-- End List -->
          </ul>
        </div>
